<form class="form" [formGroup]="registerForm">
  <mat-form-field class="form-control">
    <mat-label>Your email</mat-label>
    <input matInput formControlName="email" type="text" />
  </mat-form-field>
  <mat-form-field class="form-control">
    <mat-label>Your password</mat-label>
    <input matInput formControlName="password" type="password" />
  </mat-form-field>
  <div class="form-footer">
    <button mat-button (click)="createUser()">Create a user</button>
    <a routerLink="/register">Go to login</a>
  </div>
</form>
