:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.form {
  width: 20rem;
}
.form-control {
  display: block;
}
.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
